.widget-con{
    margin-right: 5px;
    list-style-type: none;
    height: 100%;
    width: 400px;
    border-radius: 15px;
    padding:20px ;
    background-color: white;
}
.widget-con h1{
    font-family: Roboto;
    font-size: 22px;
    margin-bottom: 8px;
}
.widget-con p{
    font-family: Roboto;
    font-size: 18px;
}