.widget-con{
    margin-right: 5px;
    list-style-type: none;
    height: 100%;
    width: 400px;
    border-radius: 15px;
    padding:20px ;
    background-color: white;
    position: relative;
}
.widget-con h1{
    font-family: Roboto;
    font-size: 22px;
    margin-bottom: 8px;
}
.widget-con p{
    font-family: Roboto;
    font-size: 18px;
}
.cross-icon{
    position: absolute;
    right: 7px;
    top: 7px;
    color: rgb(121, 117, 117);
}